html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px;
}

.equal-sign {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
}

button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  background: rgb(199, 199, 199);
  min-height: 50px;
  outline: none;
  transition: all 0.2s;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(2px);
}

.operators {
  background: grey;
  color: white;
  font-size: 30px;
}

.clear {
  background: rgb(255, 40, 40);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  background: rgb(13, 206, 87);
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
