* {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 40px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.active {
  color: #fff;
  background: #0085b6;
}

#search {
  width: 400px;
  height: 50px;
  margin: 40px 0 60px 40px;
}
