* {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 40px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 80px);
  border-radius: 8px;
  border: 1px solid lightgray;
}

.main-container .tasks-list:not(:last-child) {
  border-right: 1px solid lightgray;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.tasks {
  margin-top: 10px;
  background: rgb(233, 243, 234);
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 600;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.add-button {
  width: 200px;
  margin-top: auto;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  background: rgb(77, 77, 236);
  color: white;
}

.add-button:active {
  transform: translateY(1px);
}
